<html>
<title>AT&amp;T CNF Sample</title>
<body>
<div><img src="https://www.operative.com/wp-content/uploads/2018/08/att-logo.png" alt="ATT" width="150" hight="50"></div>
<h1>CNF Sample is running</h1>
<p> 
 <b>The status is:</b> ok <br>
 <div align="center"><img src="https://www.zoomtecnologico.com/wp-content/uploads/2020/09/redhat-samsung.jpg" width="1100" height="618"></div>
 IP Address:  {{ ansible_host }} <br>
</p>
<div align="center"><img src="https://upload.wikimedia.org/wikipedia/commons/0/05/Ansible_Logo.png"></div>
</body>
</html>
