<html>
<title>AT&amp;T CNF Sample</title>
<body>
<div><img src="https://www.operative.com/wp-content/uploads/2018/08/att-logo.png" alt="ATT" width="150" hight="50"></div>
<h1>CNF Sample is running</h1>
<p> 
 The status is: ok <br>
 IP Address:  {{ ansible_host }} <br>
</p>
</body>
</html>
