<h1>This is survey field "First Line": {{ first_line }} </h1>
<html>
<body>
<h1>A New CNF has been installed and running</h1>
<p> 
 The status is: ok <br>
 IP Address:  {{ private_ip }} <br>
</p>
</body>
</html>
